data
wandb
MUJOCO_LOG.TXT
__pycache__
tags
_vizdoom.ini
expert_datasets
.hydra
exp
tb
train.csv
train.log
eval.csv
video
.python-version
expert_video/

rl-toolkit/rlf/rl/evaluation copy.py
rl-toolkit/rlf/rl/plot_tool__.py
goal.png

shape_env/test.py
shape_env/test_.py
shape_env/test_gail.py
shape_env/test_gail_scurve.py
shape_env/test_gail_scurve_continue.py
shape_env/test_gail_scurve_continue_larger.py
shape_env/test_gail_scurve_continue_larger_notnorm.py
shape_env/test_gail_scurve_sample.py
shape_env/test_gail_sine_continue_larger.py
shape_env/test_gail_sine_continue_larger_notnorm.py
shape_env/test_s_curve.py
shape_env/test_scurve_notnorm.py
shape_env/gan.py
shape_env/traj.py
shape_env/env.py
shape_env/try_s_curve.py
shape_env/rl_utils.py

cut.py
# *.png
data.npz
data.np
shape_env/*.pth
shape_env/*.pt
eval_only/
plot_data/

*.sh
!*/**/*.sh
*.zip